In [1]:
import yfinance as yf

In [5]:
data = yf.download('SMCI', period='5d')
data

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2024-06-27,831.010010,892.780029,825.619995,890.359985,890.359985,7151300
2024-06-28,899.000000,899.880005,815.200012,819.349976,819.349976,16505900
2024-07-01,831.440002,832.000000,773.809998,812.320007,812.320007,7123000
2024-07-02,799.400024,850.919983,796.289978,837.169983,837.169983,5493600
2024-07-03,837.190002,857.190002,821.010010,847.000000,847.000000,3197900